@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@keyframes fade{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes btnHover{
    to{color: white; background-color: #d2ac47;}
}

.icone{
    width: 210px;
    height: 80px;
}

.heading{
    width: 30%;
    height: 80px;
}

.nome{
    font-size: 130%;
}

.margin-main{
    margin-top: 115px;
}

.cont-fixed{
    width: 2000px;
}

.transparent{
    opacity: 0;
}

form{
    width: 100% !important;
}

.navbg{
    background-color:#F8F8F8;
}

.mainbg{
    background-color:#ECECEC;
}

.maintext{
    color:dimgray;
    font-family: 'Oxygen', sans-serif;
    line-height: 200%;
    animation-name: fade;
    animation-duration: 0.7s;

    transition: color 0.4s;
}

.lowproftext{
    color: grey;
}

.maintext:hover{
    color: #ae8625;
    text-decoration: none;
    transition: color 0.4s;
}

.footermargin{
    padding-top: 100px;
    padding-bottom: 20px;
}

.imgrey{
    fill: black !important;
}

.custom-button{
    padding: 10px 16px;
    background-color: white;
    border: 2px solid #d2ac47;
    border-radius: 10px;

    font-family: 'Roboto', sans-serif;
    color: #ae8625;
}

.custom-button:hover{
    color: #d2ac47;
    animation: btnHover 0.4s forwards;
    text-decoration: none;
}